<div class="center hero-unit">
  <h1>Badges App</h1>
  <img src="http://i.imgflip.com/2a88k.jpg">
</br>
</br>
</br>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
