<li>
  <span class="name"><%= badge.name %></span><br>
  <span class="description"><%= badge.description %></span>
  <span class="timestamp"><br>
    Posted <%= time_ago_in_words(badge.created_at) %> ago.
  </span>
</li>