<h1>New Badge</h1>
<% if current_user && current_user.admin? %>
<%= render 'form' %>
<% else %>
<p>
	Access denied. You need Admin-Status create a new badge.
</p>
<% end %>

<%= link_to 'Back', badges_path %>
